.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
    height:600px;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }